

/* .footer{
  background-color:#f3f3f3 ;
} */
.para{
  text-decoration: none;
  color:#0f4c75;
  font-weight: bold;
}
.para:hover{
  color:#ed6663 ;
}
.paraa{
  text-decoration: none;
  color:#0f4c75;
  font-weight: bold;

}