.container-fluid p{
  
  margin-top: 10px;
}
.tit{
  font-size:40px;
  font-weight:700;
}
.div{
margin-top:30px;
}

@media only screen and (max-width:830px){
  .c{
    height:220px !important;
    width: 220px !important;
  }
  
}