#main-div{
  overflow-x:hidden; 
}
.tool {
  font-size: 50px;
  font-weight: 900;
}
.tool-1 {
  font-size: 18px;
}
.card-img-top {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.card-title{
  font-size: 22px;
font-weight: 700;
}
.card-m{
border:none ;
}

@media only screen and (max-width:830px){
  .tool{
    font-size: 30px;
    margin-top: 200px;
  }
  .tool-1{
    font-size: 16px;
  }
}